<!DOCTYPE html>
<html>

<head>
    <title>Groove Music</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet/less" type="text/css" href="./style.less" />
    <script>
        less = {
            env: "development",
            javascriptEnabled: true
        };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .box {
            background-color: black;
            display: flex;
            justify-content: center;
        }

        .item {
            color: #ffffff
        }
    </style>
</head>

<body>
    <div id='app' class="u-parent">
        <div id='u-loading-overall'>
            <h1><i class="fa fa-music fa-2x" aria-hidden="true"></i></h1>
        </div>
        <u-titlebar>
            <u-title-left>{{title}}</u-title-left>
            <u-title-right>
                <u-title-button><i class="fa fa-minus" aria-hidden="true"></i></u-title-button>
                <u-title-button><i class="fa fa-window-maximize" aria-hidden="true"></i> </u-title-button>
                <u-title-button><i class="fa fa-window-close-o" aria-hidden="true"></i></u-title-button>
            </u-title-right>
        </u-titlebar>
        <u-titlebar-placeholder></u-titlebar-placeholder>

        <u-container>
            <u-navigator-side>
                <u-navigator-side-item class="u-navigator-side-item-chosen">
                    <i class="fa fa-music" aria-hidden="true"></i>
                    <u-space></u-space>
                    My Music
                </u-navigator-side-item>
                <u-navigator-side-item>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <u-space></u-space>
                    Recent Plays
                </u-navigator-side-item>
            </u-navigator-side>

            <div class="container-fluid" style="margin-top:15px">
                <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-10">
                        <audio id='player'>
                            <source src="./Westlife-Soledad.mp3">
                        </audio>
                        <h3>
                            Here are your songs
                        </h3>
                        <hr>
                        <h6>But we have nothing.</h6>
                    </div>
                    <div class="col-sm-1">
                    </div>
                </div>
            </div>
        </u-container>

        <u-bottom>
            <u-bottom-item class="u-bottom-item-hover">
                <canvas id="avatarCanvas">
                </canvas>
                <img id='avatarImg' src="./avatar.jpg" style="display: none;">
                <u-bottom-updown style="margin-left: 5px;max-width: 25vw;" class="u-minor">
                    <span style="font-size:medium;">{{music}}</span>
                    <span style="font-size: small;">{{singer}}</span>
                </u-bottom-updown>
            </u-bottom-item>
            <u-bottom-item style="padding-right: 20px;">
                <u-bottom-updown>
                    <u-bottom-updown-element class="u-major">
                        <span class="u-progress-font">00:00</span>
                        <div style="display: flex;
                        align-items: center;width: 100%;">
                            <!--div class="progress-bar progress-bar-striped progress-bar-animated" style="width:50%"></div-->
                            <input type="range" class="u-progress" value="0">
                        </div>
                        <span class="u-progress-font">03:42</span>
                    </u-bottom-updown-element>
                    <u-bottom-updown-element style="justify-content: center;align-items: center;">
                        <u-button-circle-md style="margin-right: 8px;">
                            <i class="fa fa-step-backward" aria-hidden="true"></i>
                        </u-button-circle-md>
                        <u-button-circle-lg style="margin-right: 8px;" v-if="playing===false" v-on:click="play()">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </u-button-circle-lg>
                        <u-button-circle-lg style="margin-right: 8px;" v-if="playing===true" v-on:click="pause()">
                            <i class="fa fa-pause" aria-hidden="true"></i>
                        </u-button-circle-lg>
                        <u-button-circle-md style="margin-right: 3px;">
                            <i class="fa fa-step-forward" aria-hidden="true"></i>
                        </u-button-circle-md>
                        <u-button-circle-md style="margin-right: 3px;" class="u-minor-only">
                            <i class="fa fa-list-ul" aria-hidden="true"></i>
                        </u-button-circle-md>
                    </u-bottom-updown-element>
                </u-bottom-updown>
            </u-bottom-item>
            <u-bottom-item>
                <u-button-circle-md style="margin-right: 15px;">
                    <i class="fa fa-volume-up" aria-hidden="true"></i>
                </u-button-circle-md>
                <u-button-circle-md style="margin-right: 15px;" class="u-minor">
                    <i class="fa fa-random"></i>
                </u-button-circle-md>
                <u-button-circle-md style="margin-right: 15px;">
                    <i class="fa fa-refresh"></i>
                </u-button-circle-md>
            </u-bottom-item>
        </u-bottom>

    </div>
    <script>
        var aimg = document.getElementById('avatarImg');
        var canvas = document.getElementById('avatarCanvas');

        window.onload = function () {
            DrawImageInCanvas();
            GetImageColor();
            $('#u-loading-overall').hide();
        }

        function DrawImageInCanvas() {
            aimg = document.getElementById('avatarImg');
            canvas = document.getElementById('avatarCanvas');
            canvas.width = aimg.width;
            canvas.height = aimg.height;
            let context = canvas.getContext('2d');
            context.drawImage(aimg, 0, 0, canvas.width, canvas.height);
        }

        function GetImageColor() {
            aimg = document.getElementById('avatarImg');
            canvas = document.getElementById('avatarCanvas');
            let context = canvas.getContext('2d');
            let data = context.getImageData(0, 0, aimg.width, aimg.height).data;

            //console.log(data);
            let R = 0, G = 0, B = 0, COUNT = 0;
            for (let i = 0; i < data.length; i += 4 * 16) {
                R += data[i] * (data[i + 3] / 255);
                G += data[i + 1] * (data[i + 3] / 255);
                B += data[i + 2] * (data[i + 3] / 255);
                COUNT++;
            }
            R /= COUNT;
            G /= COUNT;
            B /= COUNT;
            R = Math.round(R);
            G = Math.round(G);
            B = Math.round(B);
            let rgbtext = "rgb(" + R + "," + G + "," + B + ")";
            let gray = R * 0.299 + G * 0.587 + B * 0.114;
            if (gray - R + gray - B + gray - G << 100) {
                if (gray > 128) {
                    gray = 245;
                }
                else {
                    gray = 30;
                }
            }
            let contrastcolor = 255 - Math.round(gray);
            let conrgbtext = "rgb(" + contrastcolor + "," + contrastcolor + "," + contrastcolor + ")";
            less.modifyVars({ "bottom-font-color": conrgbtext, "bottom-color": rgbtext });
        }

        window.onresize = function () {

        }

        var app = new Vue({
            el: '#app',
            data: {
                title: 'Groove 音乐',
                singer: 'Westlife',
                music: 'Soledad',
                playing: false
            },
            methods: {
                play: function () {
                    let dom = document.getElementById('player');
                    dom.play();
                    this.playing = true;
                },
                pause: function () {
                    let dom = document.getElementById('player');
                    dom.pause();
                    this.playing = false;
                }
            }
        });
    </script>
</body>

</html>